.img-logo{
    position: fixed;
    width: 200px;
    left: -20px;
    top: -10px;
}

.menu-icon{
    top: -2px;
    margin-right: 5px;
    position: relative;
    color: white;
}

.img-carousel{
    height: 450px;
    object-fit:cover;
}

.quantity-enabled{
    border: 1px solid #FF9900;
    border-radius: 5px;
    display: inline-block;
    color: black;
}

.quantity-disabled{
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.26);
}

.item-quantity{
    margin: 0 18px;
    font-size: 18px;
    display: inline-block;
}

.icon-badge{
    position: relative;
    top: 5px;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}

.div-due{
    margin-bottom: 20px;
}

.img-owner{
    width: 125px;
    height: 125px;
    margin: auto;
    border-radius: 50%;
    object-fit:cover;
}

.img-not-found{
    margin: auto;
    display: block;
    margin-top: 50px;
}

.img-user{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.active, .active svg{
    color: yellow !important;
}

.fab-filters{
    box-shadow: none !important;
}

.catalog-list{
    overflow-y: auto;
}

html, 
body,
#root {
    height: 100%;
    background: #F4F4F4;
}

.cart-img{
    width: 175px;
    height: 150px;
    object-fit:cover;
}

.cart-avatar-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.cart-span-owner{
    margin-left: 10px;
    top: -10px;
    position: relative;
}

.cart-stock-item{
    font-size: 14px;
    margin-left: 10px;
    color: gray;
}